@import "../../../less/variables";

.container-menu {
  width: 286px;
  position: relative;
  background-color: @white;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.06);
  border-radius: 2px;

  @media (max-width: 768px) {
    width: 100%;
    padding: 14px 20px 14px 27px;
    background-color: @menu-mobile-background;
  }
}

.container-menu__mobile-head {
  display: none;
  gap: 11px;
  align-items: center;
  position: relative;

  p {
    font-size: 16px;
    line-height: 13px;
    font-family: "Helvetica Thin", serif;
    text-transform: uppercase;
    color: @text-color;
  }

  .container-menu__toggle-btn:checked ~ .container-menu_arrow-wrapper {
    transition: transform 200ms;
    transform: rotate(90deg);
  }

  .container-menu__toggle-btn:not(:checked) ~ .container-menu_arrow-wrapper {
    transition: transform 200ms;
    transform: rotate(0deg);
  }

  @media (max-width: 768px) {
    display: flex;
  }
}

.container-menu__head {
  display: flex;
  gap: 13px;
  align-items: center;
  padding: 35px 0 19px 0;
  margin: 0 19px;
  border-bottom: 1px solid @line;

  p {
    font-size: 13px;
    font-family: "Helvetica Thin", serif;
    text-transform: uppercase;
    color: @green-main;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.container-menu__toggle-btn {
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -7px;
}

.container-menu_arrow-wrapper {
  position: absolute;
  right: 0;
}

.container-menu__menu {
  list-style: none;
  padding: 12px 26px 0 29px;

  @media (max-width: 768px) {
    display: none;
  }

  li {
    position: relative;
    display: block;
    padding: 15px 0 15px 0;

    svg {
      position: absolute;
      right: 0;
      top: 17px;
    }

    a {
      padding-right: 29px;
      font-size: 16px;
      line-height: 22px;
      font-family: "Helvetica Bold", serif;
      text-transform: capitalize;
      transition: color 200ms;
    }

    .container-menu__toggle-btn:checked ~ svg {
      transform: rotate(90deg);
    }

    .container-menu__toggle-btn:checked ~ svg {
      transition: transform 200ms;
      transform: rotate(90deg);
    }

    .container-menu__toggle-btn:not(:checked) ~ svg {
      transition: transform 200ms;
      transform: rotate(0deg);
    }

    .container-menu__toggle-btn:checked ~ a {
      color: @green-main;
    }

    .container-menu__toggle-btn:checked ~ .container-menu__submenu {
      display: block;
    }
  }
}

.container-menu__submenu {
  display: none;
  overflow: hidden;
  list-style: none;

  li {
    padding: 12px 13px;
    border-radius: 3px;

    a {
      font-family: "Helvetica Thin", serif;
      padding-right: 0;
    }
  }

  li:hover {
    background-color: @hover-menu;
  }

  li.active {
    background-color: @green-background;

    a {
      color: @green-main;
    }
  }
}

.container-menu__btn-container {
  padding: 20px 0 29px;
  margin: 0 15px;
  border-top: 1px solid @line;

  @media (max-width: 768px) {
    display: none;
  }
}

.active {
  display: block;
}
