.dashboard-cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  padding-left: 15px;
  padding-bottom: 46px;

  @media (max-width: 768px) {
    padding-left: 0;
    padding-top: 20px;
  }
}

.dashboard-load-more-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
